*.swp
.DS_Store
*.elf
*.exe
*.def
*.dsp
*.xls
*.dbg
*.o
*.dll
*.dump
*~
build/
bin/
tags
*~
*.orig
*.user
CarSeller.xcodeproj/xcuserdata
CarSeller.xcworkspace/xcuserdata
Pods/Pods.xcodeproj/xcuserdata
